# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = Douban.settings

# Project: douban_movie
[deploy]
url = https://dash.scrapinghub.com/api/scrapyd/
username = 9583245091254f9a802ee9a80875dc83
password =
project = 35448